@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap'); 

html {
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Dokdo', cursive;
    font-size: 7vh;
    color: rgb(255, 255, 255);
    margin-left: 25px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: #5D6063;
    background-color: #DEDDDD;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
  }

.background-image {
    height: 100%;
    width: auto;
}

.logo-box {
    display: flex;
    width: 100%;
    height: 19vh;
    margin-top: -800px;
    background-color: rgba(0, 0, 0, 0.699);
    justify-content: center;
    align-items: center;
}

.logo-image {
    width: 30%;
    height: auto;
}

.logo-div {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-width: 350px;
}

.photo-credit {
    color: rgba(218, 238, 240, 0.877);
    text-align: center;
    margin-top: auto;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(73, 73, 73, 0.363);
    padding: 5px;
}

a {
    color: rgb(218, 238, 240);
}

.text-box,
.form-div {
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Michroma', sans-serif;
    color: black;
    box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-div {
    background-color: #DA7B37;
    box-shadow: 2px 5px 5px rgb(124, 124, 124);
    flex-wrap: wrap;
}

button {
    margin-bottom: -300px;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.form-row label {
    margin-bottom: 7.5px;
    font-weight: bold;
  }

  h2 {
    margin-bottom: 40px;
  }

  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row input[type='number'],
  .form-row input[type='password'],
  .form-row input[type='tel'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    padding: 7px;
    font-size: 14px;
    width: 300px;
  }

  .form-row input[type='text']:invalid,
  .form-row input[type='email']:invalid,
  .form-row input[type='number']:invalid,
  .form-row input[type='password']:invalid,
  .form-row input[type='tel']:invalid {
  border: 3px solid #ff0004;
  color: #D55C5F;
  box-shadow: none; /* Remove default red glow in Firefox */
  }

  .form-big-row {
    display: flex;
    flex-direction: row;
    gap: 90px;
  }
  
  .text-box {
    font-size: 25px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 61px;
  }

  .second-text {
    margin-top: 30px;
  }

  .submit-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #626064;
    padding: 45px;
    box-sizing: border-box;
    margin: 0;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2 1 auto;
    min-width: 100px;
  }

  .border {
    width: 20vh;
    background-color: #18110D;
    flex: 0 2 auto;
  }

  button {
    font-size: 30px;
    font-weight: bold;

    background-color: #DA7B37;
  
    border: solid 2px black;
    border-radius: 8px;
  
    padding: 10px 40px;
    cursor: pointer;
  }

  .user-already,
  .user-already a {
    margin-top: 30px;
    color: black;
    font-weight: bold;
  }

  #password-info-text {
    color: rgb(0, 0, 0);
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }

  #password-requirement-text {
    font-size: 12px;
    width: 300px;
    margin-top: 10px;
  }